.btn-item {
    background-color: #11b28e;
    color: whitesmoke;
    padding: 10px 30px;
    font-weight: 400;
    font-size: 20px;
    border-radius: 5px;
    border-color: #11b28e;
    text-decoration: none; }
.btn-item:hover {
    background-color: #01a27f;
    text-decoration: none;
    color: whitesmoke; }
.imgDetail{
    height: 70vh;
}
.fichaProducto {
    padding: 3rem;
}
.fichaProducto__contenedor___info{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: left;
}
.fichaProducto__contenedor___info h2{
    font-size: 30px;
    font-weight: 700;
}
.fichaProducto__contenedor___info h3{
    font-size: 20px;
    font-weight: 510;
    color: #11b28e;
}
.fichaProducto__contenedor___info h4{
    text-align: left;
    font-size: 18px;
    font-weight: 510;
}
.fichaProducto__contenedor___info p{
    font-size: 14px;
    font-weight: 400;
}