.cart{
    height: 2rem;
    width: 2rem;
}
.cartElements{
    background-color: rgb(213, 20, 20);
    border-radius: 50%;
    padding: 0.2rem;
    height: 1.5rem;
    width: 1.5rem;
    color: whitesmoke;
    font-weight: 600;
    position: absolute;
    margin-left: 1.5rem;
}
.cart-container{
    display: flex;
    justify-content: space-between;
}