.nav-link {
    text-align: center; 
}

.header__logo {
    height: 50px; }

.header__iconos {
    text-align: center; }

.header__iconos a {
    padding: 10px;
    color: #2C2C2C;
    font-size: 24px;
    text-decoration: none; }

.header__iconos a:hover {
    padding: 10px;
    color: #2C2C2C;
    font-size: 24px;
    text-decoration: none; }

.header__iconos span {
    font-size: 14px;
}