.contadorCont h4{
    text-align: center;
}
.contadorCont {
    display: flex;
    align-items: center;
}
.btn-contador {
    background-color: #11b28e;
    color: whitesmoke;
    margin: 5px 10px;
    padding: 10px 30px;
    font-weight: 400;
    font-size: 20px;
    border-radius: 5px;
    border-color: #11b28e;
    text-decoration: none; 
    border-style: none;
}

.btn-contador:hover {
    background-color: #01a27f;
    text-decoration: none;
    color: whitesmoke; }